<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style.css">
    <style>
        body {
    background-color: white;
    text-decoration-color: whitesmoke;
    font-size:20px;
    }

    h1{
        color: green;
        text-align: center;
    }

    #button{
        width: 75%;
        height: 30px;
        background-color: #0E9D57;
        color: white;
        border-radius: 5px;

    }

    .datos{
        width: 70%;
        height: 25px;    
    }

    .birthdate{
        width: 90px;
    }

    .fieldset{
        width: 25%;
        border-radius: 5px 5px 5px;

    }

    legend{
        text-align: center;
    }

    .coment {
        width: 70%;
        height: 50px;
    }

    </style>

    <title>Primera Pagina Con Node y Express</title>
</head>
<body>
    <body>
        
        <center>
            <h1>Registrate</h1>
            <form action="">
                <fieldset class="fieldset">


                    <legend>Datos Personales</legend>

                <p>
                    <label for=""><input type="text"  class="datos" name="firstName" placeholder="Nombre" required></label>
                </p>

                <p>
                    <label for=""><input type="text" class="datos" name="lastname" placeholder="Apellido" placeholder="Nombre"></label>
                </p>

                <p>
                    <label for=""><input type="text" class="datos" name="dni" placeholder="DNI" placeholder="Nombre"></label>
                </p>

                <p>
                    <label for=""><input type="radio" name="gender" value="male">Marculino</label>
                    <label for=""><input type="radio" name="gender" value="female">Femenino</label>
                </p>

                <p>
                    <label for=""><input type="email" class="datos" name="email" placeholder="Email" placeholder="Nombre"></label>
                </p>

                <p>
                    <label for="">Fecha de Nacimiento: <input type="date" class="birthdate" name="birthdate"></label>
                </p>

                <p>
                    <label for=""><input type="text" class="datos" name="addres" placeholder="Direccion" placeholder="Nombre"></label>
                </p>

                <p>
                    <label for=""><textarea name="coment" class="coment" cols="30" rows="3"></textarea></label>
                </p>

                    <p>
                        <button type="submit" id="button">ENVIAR</button>
                    </p>
                

            

                </fieldset>
        </center>
                

            </form>
            <!--Hobies of <%=data.name%> are:<br/>
                <ul>
                    <% data.hobies.forEach((item)=>{%>
                        <%=item%><br/>
                    <%});%>
           
                </ul> -->

    </body>
</body>
</html>